// Global colors
$color-white: #ffffff !default;
$gray-darker: #253142 !default;
$gray-dark: #37474F !default;
$gray-mid: #979CA6 !default;
$gray-light: #F2F6F9 !default;
$brand-blue: #4353FF !default;
$color-success: #3AD283 !default;
$color-danger: #FF4949 !default;
$color-border: #e8e8e8 !default;
