<section class="pt4 bb">
    <div class="Container">
        <p><a href="#"><span>↵</span>All Fundraises</a></p>
        <div class="Flex-row mt4">
      	    <!-- Medium -->
            <div class="mr3">
          			<div class="Avatar Avatar--square Avatar--s" style="background: #253142;" title="Tribely">
              			<div class="Avatar--initials">T</div>
              			<div class="Avatar--img Avatar--square" style="background-image: url('assets/toolkit/images/tribely.png')"></div>
          	    </div>
            </div>
            <div class="mr2">
              <h2 class="lh-title">La Ferme Megeve</h2>
            </div>
            <div>
              <span class="Label Label--round Label--success">Live</span>
            </div>
        </div>
        <div class="Flex-row mt3">
          <div class="Flex-column">
              <div class="Flex-row Flex--nr">
                  <div class="Flex-column mr3">
                      <div class="f5">75%</div>
                      <lable class="color-grey-40 f2">Raised</lable>
                  </div>
                  <div class="Flex-column mr3">
                      <div class="f5">£1,000,000</div>
                      <lable class="color-grey-40 f2">Target</lable>
                  </div>
              </div><!-- /.Flex-row -->
          </div><!-- /.Flex-column -->
          <div class="Flex-column">
              <div class="Flex-row Flex--nr">
                  <div class="Flex-column mr3">
                      <div class="f5">£120,000</div>
                      <lable class="color-grey-40 f2">Invested</lable>
                  </div>
                  <div class="Flex-column mr3">
                      <div class="f5">6.6%</div>
                      <lable class="color-grey-40 f2">Equity</lable>
                  </div>
              </div><!-- /.Flex-row -->
          </div><!-- /.Flex-column -->
          <div class="Flex-column">
              <div class="Flex-row Flex--nr">
                  <div class="Flex-column mr3">
                      <div class="f5">315</div>
                      <lable class="color-grey-40 f2">Investors</lable>
                  </div>
                  <div class="Flex-column mr3">
                      <div class="f5">15</div>
                      <lable class="color-grey-40 f2">Days Left</lable>
                  </div>
              </div><!-- /.Flex-row -->
          </div><!-- /.Flex-column -->
          <div class="Flex-column">
              <div class="Flex-row Flex--nr">
                  <div class="Flex-column mr3">
                      <div class="f5">76</div>
                      <lable class="color-grey-40 f2">Pledged</lable>
                  </div>
                  <div class="Flex-column">
                      <div class="f5">637</div>
                      <lable class="color-grey-40 f2">Followers</lable>
                  </div>
              </div><!-- /.Flex-row -->
          </div><!-- /.Flex-column -->
        </div><!-- /.Flex-row -->
        <div class="Flex-row mt2">
          <div class="Flex-column">
            <p class="color-green f2"><span class="Marker Marker--success"></span>Congratulations, your pitch is live!</p>
          </div>
          <div class="Flex-column">
            <p class="tr-ns color-grey-40 f2">Last updated 12mins ago</p>
          </div>
        </div><!-- /.Flex-row -->

    		<div class="mt3">
    			<div class="ProgressBar ProgressBar--s">
    				<div class="ProgressBar-success ProgressBar-success--s Tooltip" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
    					<span class="Tooltip-text Tooltip-text--success Tooltip-text--top">40% Complete</span>
    				</div>
    			</div>
    			<!-- /.ProgressBar -->

        <div class="Flex-row mb4 mt2">
            <div class="Flex-column">
                <button class="Button Button--primary Button--l mt2 mr2">Update Investors</button>
                <button class="Button Button--tertiary Button--l mt2 mr2">Add FAQ</button>
                <button class="Icon Icon--l Button Button--tertiary mt2 mr2 Tooltip">
                  <i class="material-icons md-24">remove_red_eye</i>
                  <span class="Tooltip-text Tooltip-text--default Tooltip-text--top">View Campaign</span>
                </button>
                <button class="Icon Icon--l Button Button--tertiary mt2 mr2 Tooltip">
                  <i class="material-icons md-24">share</i>
                  <span class="Tooltip-text Tooltip-text--default Tooltip-text--top">Share</span>
                </button>
                <button class="Icon Icon--l Button Button--tertiary mt2 Tooltip">
                  <i class="material-icons md-24">settings</i>
                  <span class="Tooltip-text Tooltip-text--default Tooltip-text--top">Settings</span>
                </button>
            </div><!-- /.Flex-column -->
        </div><!-- /.Flex-row -->
    </div><!--/.Container -->
</section>
