<Section class="Container">
    <div class="mt2">
        <h5 class="mb3">Fundraise Progress</h5>
        <div class="bt bl br">
            <div class="DashboardAccordion pa4">
                <div class="DashboardAccordion-control DashboardAccordion-control--active"></div>
                <div class="f4 b"><del>Registration</del></div>
            </div><!--/.DashboardAccordion -->
            <div class="DashboardAccordion-panel pl6 pr6">
                <ol class="mb5 mt0">
                  <li><del>Sign up with email and password</del></li>
                  <li><del>Sign Membership Agreement</del></li>
                </ol>
            </div><!--/.DashboardAccordion-panel -->
        </div><!--/.DashboardAccordion-border -->

        <div class="bt bl br">
            <div class="DashboardAccordion pa4">
              <div class="DashboardAccordion-control DashboardAccordion-control--active"></div>
              <div class="f4 b"><del>Pre-approval Submission</del></div>
            </div><!--/.DashboardAccordion -->
            <div class="DashboardAccordion-panel pl6 pr6">
                <ol class="mb5 mt0">
                  <li><del>Submit pre-approval form</del></li>
                  <li><del>SeedTribe Investment Committee to review your submission (usually 3 working days)</del></li>
                  <li><del>Fill out pitch form</del></li>
                </ol>
            </div><!--/.DashboardAccordion-panel -->
        </div><!--/.DashboardAccordion-border -->

        <div class="bt bl br">
            <div class="DashboardAccordion pa4">
              <div class="DashboardAccordion-control"></div>
              <div class="f4 b">Pre-approved</div>
            </div><!--/.DashboardAccordion -->
            <div class="DashboardAccordion-panel pl6 pr6">
                <ol class="mb5 mt0">
                  <li>Good job!</li>
                </ol>
            </div><!--/.DashboardAccordion-panel -->
        </div><!--/.DashboardAccordion-border -->

        <div class="bt bl br">
            <div class="DashboardAccordion pa4">
              <div class="DashboardAccordion-control"></div>
              <div class="f4 b">Submit your Pitch</div>
            </div><!--/.DashboardAccordion -->
            <div class="DashboardAccordion-panel pl6 pr6">
                <ol class="mt0">
                    <li>Fill out all sections of <a href="#">the pitch form</a> (make sure every statement is factually correct as we are required to check this by the FCA during the Due Diligence process</li>
                    <li><a href="#">Submit for review</a> by the SeedTribe team (usually 3 working days)</li>
                    <li>Start working on a video – this should help investors to understand your business quickly</li>
                </ol>
                <h3 class="mt4 mt2 ml3 f5 b">Pitch Progress</h3>
                <div class="Flex-row mt2 mb5 ml3">
                    <div class="Flex-column">
                        <p><a href="#"><span class="Marker Marker--success"></span>Pitch</a></p>
                        <p><a href="#"><span class="Marker Marker--danger"></span>Team Members</a></p>
                        <p><a href="#"><span class="Marker Marker--success"></span>Financials</a></p>
                        <p><a href="#"><span class="Marker Marker--success"></span>Logo</a></p>
                    </div>
                    <div class="Flex-column">
                        <p><a href="#"><span class="Marker Marker--danger"></span>Website</a></p>
                        <p><a href="#"><span class="Marker Marker--danger"></span>Highlights</a></p>
                        <p><a href="#"><span class="Marker Marker--success"></span>Team</a></p>
                        <p><a href="#"><span class="Marker Marker--success"></span>Deal</a></p>
                    </div>
                    <div class="Flex-column">
                        <p><a href="#"><span class="Marker Marker--success"></span>Images</a></p>
                        <p><a href="#"><span class="Marker Marker--danger"></span>Video</a></p>
                        <p><a href="#"><span class="Marker Marker--danger"></span>Documents</a></p>
                        <p><a href="#"><span class="Marker Marker--success"></span>Short Summary</a></p>
                    </div>
                </div><!--/.Flex-row-->

            </div><!--/.DashboardAccordion-panel -->
        </div><!--/.DashboardAccordion-border -->

        <div class="bt bl br">
            <div class="DashboardAccordion pa4">
              <div class="DashboardAccordion-control"></div>
              <div class="f4 b">Sign Pitch Agreement</div>
            </div><!--/.DashboardAccordion -->
            <div class="DashboardAccordion-panel pl6 pr6">
                <ol class="mb5 mt0">
                  <li>Once you submit the pitch for review, you will receive our <a href="#">Pitch Agreement</a>. You must sign this before you can go live on SeedTribe</li>
                </ol>
            </div><!--/.DashboardAccordion-panel -->
        </div><!--/.DashboardAccordion-border -->

        <div class="bt bl br">
            <div class="DashboardAccordion pa4">
              <div class="DashboardAccordion-control"></div>
              <div class="f4 b">Pitch Approved</div>
            </div><!--/.DashboardAccordion -->
            <div class="DashboardAccordion-panel pl6 pr6">
                <ol class="mb5 mt0">
                  <li>Good job!</li>
                </ol>
            </div><!--/.DashboardAccordion-panel -->
        </div><!--/.DashboardAccordion-border -->

        <div class="bt bl br">
            <div class="DashboardAccordion pa4">
              <div class="DashboardAccordion-control"></div>
              <div class="f4 b">Due Diligence Process</div>
            </div><!--/.DashboardAccordion -->
            <div class="DashboardAccordion-panel pl6 pr6">
                <ol class="mb5 mt0">
                  <li>SeedTribe will send you a due diligence questionnaire</li>
                  <li>You must answer all the questions and provide evidence to back all your statements. This is a legal requirement and you cannot pass the checks unless you can validate everything in your pitch</li>
                </ol>
            </div><!--/.DashboardAccordion-panel -->
        </div><!--/.DashboardAccordion-border -->

        <div class="bt bl br">
            <div class="DashboardAccordion pa4">
              <div class="DashboardAccordion-control"></div>
              <div class="f4 b">Due Diligence Passed</div>
            </div><!--/.DashboardAccordion -->
            <div class="DashboardAccordion-panel pl6 pr6">
                <ol class="mb5 mt0">
                  <li>Good job!</li>
                </ol>
            </div><!--/.DashboardAccordion-panel -->
        </div><!--/.DashboardAccordion-border -->

        <div class="bt bl br">
            <div class="DashboardAccordion pa4">
              <div class="DashboardAccordion-control"></div>
              <div class="f4 b">Campaign is Live</div>
            </div><!--/.DashboardAccordion -->
            <div class="DashboardAccordion-panel pl6 pr6">
                <ol class="mb5 mt0">
                  <li>Focus on Marketing your fundraise as far and wide as possible, to gain maximum impact. Check out our <a href="#">guide on optimizing your campaign</a></li>
                  <li>Seedtribe will market your pitch to its database through the listing and mailouts</li>
                </ol>
            </div><!--/.DashboardAccordion-panel -->
        </div><!--/.DashboardAccordion-border -->

        <div class="bt bl br">
            <div class="DashboardAccordion pa4">
              <div class="DashboardAccordion-control"></div>
              <div class="f4 b">Campaign is Closed</div>
            </div><!--/.DashboardAccordion -->
            <div class="DashboardAccordion-panel pl6 pr6">
                <div class="Flex-row">
                    <div class="Flex-column">
                        <h3 class="f5 b color-green ml3">If your campaign was successful:</h3>
                        <ol class="mb5 mt4">
                          <li>We will work with our clearing bank to finalise all paperwork and checks</li>
                          <li>We may also need to perform checks on Company Directors. Please be prepared to answer questions as needed</li>
                          <li>Investors are given 48 hours to opt-out after which the amount raised is confirmed</li>
                          <li>SeedTribe will need to sign your Shareholders Agreement in order to confirm allocation of shares</li>
                          <li>Funds will be wired to you after all checks have been completed and funds from investors are cleared</li>
                        </ol>
                    </div>
                    <div class="Flex-column">
                        <h3 class="f5 b color-red ml3">If your campaign was unsuccessful:</h3>
                        <ol class="mb5 mt4">
                          <li>Investors will be informed that the campaign was unsuccessful</li>
                          <li>You will not receive any funds pledged from your campaign</li>
                        </ol>
                    </div>
                </div>
            </div><!--/.DashboardAccordion-panel -->
        </div><!--/.DashboardAccordion-border -->

        <div class="bt bl br">
            <div class="DashboardAccordion pa4">
              <div class="DashboardAccordion-control"></div>
              <div class="f4 b">Thank your Investors</div>
            </div><!--/.DashboardAccordion -->
            <div class="DashboardAccordion-panel pl6 pr6">
                <ol class="mb5 mt0">
                  <li>Send an email to your investors thanking them and outlining what you hope to achieve with their support</li>
                </ol>
            </div><!--/.DashboardAccordion-panel -->
        </div><!--/.DashboardAccordion-border -->

        <div class="ba">
            <div class="DashboardAccordion pa4">
              <div class="DashboardAccordion-control"></div>
              <div class="f4 b">Reporting</div>
            </div><!--/.DashboardAccordion -->
            <div class="DashboardAccordion-panel pl6 pr6">
                <ol class="mb5 mt0">
                  <li>SeedTribe will remind you to send out biannual company reports to investors</li>
                </ol>
            </div><!--/.DashboardAccordion-panel -->
        </div><!--/.DashboardAccordion-border -->

    </div><!-- /.mt6 -->
    <div class="mt4 mb6">
      <button class="Icon Icon--s Button Button--tertiary mr2"><i class="material-icons md-18">delete</i></button>
      <span>Delete Campaign</span>
    </div>

</section><!-- /.Container -->
