<Section class="Container">

  <!-- for demo purposes only -->
  <div class="ma6"></div>
  <!-- for demo purposes only -->

    <div class="TabWrap">
      <nav class="TabNav">
        <ul class="TabNav-list" role="tablist">
          <li class="TabNav-item" role="tab" data-state="open">Followers</li>
          <li class="TabNav-item" role="tab">SeedTribe Investors</li>
          <li class="TabNav-item" role="tab">External Investors</li>
        </ul>
      </nav>
      <!-- /.TabNav-->
    </div>
    <!-- /.TabWrap-->

    <div>
				<table class="Table Table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Investor Name</th>
							<th>Status</th>
							<th>Date</th>
              <th>Amount</th>
              <th><button class="Button Button--tertiary Button--s width-100">Message All Investors</button></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
                <div class="Avatar Avatar--round Avatar--xs">
                  <div class="Avatar--initials Avatar--round" style="background: #556bcc;">JW</div>
                </div>
              </td>
							<td><a href="#">Julian Williamson</a></td>
							<td>Authorised</td>
							<td>2 months ago</td>
              <td>£1,000</td>
              <td><button class="Button Button--tertiary Button--s width-100">Message Investor</button></td>
						</tr>
            <tr>
							<td>
                <div class="Avatar Avatar--round Avatar--xs">
                  <div class="Avatar--initials Avatar--round" style="background: #556bcc;">JW</div>
                </div>
              </td>
							<td><a href="#">Julian Williamson</a></td>
							<td>Authorised</td>
							<td>2 months ago</td>
              <td>£1,000</td>
              <td><button class="Button Button--tertiary Button--s width-100">Message Investor</button></td>
						</tr>
            <tr>
							<td>
                <div class="Avatar Avatar--round Avatar--xs">
                  <div class="Avatar--initials Avatar--round" style="background: #556bcc;">JW</div>
                </div>
              </td>
							<td><a href="#">Julian Williamson</a></td>
							<td>Authorised</td>
							<td>2 months ago</td>
              <td>£1,000</td>
              <td><button class="Button Button--tertiary Button--s width-100">Message Investor</button></td>
						</tr>
            <tr>
							<td>
                <div class="Avatar Avatar--round Avatar--xs">
                  <div class="Avatar--initials Avatar--round" style="background: #556bcc;">JW</div>
                </div>
              </td>
							<td><a href="#">Julian Williamson</a></td>
							<td>Authorised</td>
							<td>2 months ago</td>
              <td>£1,000</td>
              <td><button class="Button Button--tertiary Button--s width-100">Message Investor</button></td>
						</tr>
					</tbody>
				</table>
		</div>
</section>
