<Section class="Container">
    <h3 class="mt2 f5">Fundraise Analytics</h3>
    <div class="mt3">
				<table class="Table Table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Today</th>
							<th>Yesterday</th>
							<th>This Week</th>
              <th>Last Week</th>
              <th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><strong>Page Views</strong></td>
							<td>0</td>
							<td>12</td>
							<td>31</td>
              <td>140</td>
              <td>1174</td>
						</tr>
						<tr>
							<td><strong>Followers</strong></td>
							<td>2</td>
							<td>4</td>
							<td>23</td>
              <td>78</td>
              <td>203</td>
						</tr>
					</tbody>
				</table>
		</div>
</section>
