<div class="FilterPopup FilterPopup--property">
  <div class="Checkbox-parent Accordion mt2">
      <input  class="material-icons" type="checkbox" />
          <label>Residential</label>
      </input>
  </div>
  <div class="Accordion-panel">
      <ul class="Checkbox-child">
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>Single</label>
              </input>
          </li>
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>Multi Unit</label>
              </input>
          </li>
      </ul>
  </div>

  <div class="Checkbox-parent Accordion">
      <input class="material-icons" type="checkbox"/>
          <label>Commercial</label>
      </input>
  </div>

  <div class="Accordion-panel">
      <ul class="Checkbox-child">
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>Hotels</label>
              </input>
          </li>
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>Restaurants</label>
              </input>
          </li>
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>Factories</label>
              </input>
          </li>
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>Warehouses</label>
              </input>
          </li>
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>Workshops</label>
              </input>
          </li>
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>Shops</label>
              </input>
          </li>
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>Offices</label>
              </input>
          </li>
          <li>
              <input class="material-icons" type="checkbox" />
                  <label>Shopping Centers</label>
              </input>
          </li>
      </ul>
  </div>

  <div class="Checkbox-parent">
      <input  class="material-icons" type="checkbox" />
          <label>Land</label>
      </input>
  </div>

  <div class="Checkbox-parent">
      <input class="material-icons" type="checkbox"/>
          <label>Off Plan</label>
      </input>
  </div>

  <div class="Flex-row Flex--nr mt4">
      <div class="Flex-column">
        <button class="Link">Clear</button>
      </div>
      <div class="Flex-column tr">
        <button class="Link color-brand">Apply filter</button>
      </div>
  </div>

</div>
