<nav role="navigation" class="Nav Nav--primary">

  <div class="Nav-left">
      <a class="Nav-logo Nav-logo--seedtribe" href="#"></a>
  </div>

  <div class="Nav-right">

      <ul class="Nav-items">
        <li class="Nav-item"><a class="Nav-link" href="#"><span class="Nav-text">Start Investing</span><i class="Nav-icon icon-invest"></i></a></li>
        <li class="Nav-item"><a class="Nav-link" href="#"><span class="Nav-text">Raise Crowdfunding</span><i class="Nav-icon icon-fundraise"></i></a></li>
        <li class="Nav-item"><a class="Nav-link" href="#"><span class="Nav-text">Messages</span><i class="Nav-icon icon-message"></i></a></li>
        <li class="Nav-item"><a class="Nav-link" href="#"><span class="Nav-text">Help</span><i class="Nav-icon icon-help"></i></a></li>
        <li class="Nav-item"><a href="#"><div class="Nav-avatar"></div></a></li>
      </ul>



  </div>
</nav>
